.nav {
  display: flex;
  flex-direction: column;
  width: 220px;
  min-width: 220px;
  background-color: #ffffff;
  padding-top: 32px;
  padding-right: 0px;
  padding-bottom: 32px;
  padding-left: 32px;
  justify-content: space-between;
}

.nav>a {
  margin: 8px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 12px 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #333;
  border: 1px solid #eaeaea;
  transition: all 0.125s ease;
}

.nav>a:hover {
  background-color: #eaeaea;
}

.input {
  margin: 32px 0;
  text-decoration: none;
  background: white;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  padding: 8px 16px;
  height: 28px;
}

.logoClass {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 38px;
}
.zIndex{
  z-index: 99;
}
.logoText {
  background: #FBDF7B;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 39px;
  position: absolute;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #000000;
  left: 27px;
  z-index: 0;
  padding-right: 10px;
}

.imageClassRoom {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  width:203px;
  height:154px;
}