.spacer {
    margin-bottom: 21px;
}

.redioWarper {
    display: flex;
    justify-content: space-between;
}

.loginBTN {
    cursor: pointer;
    width: 136px;
    height: 52px;
    right: -30px;
    bottom: -25px;
    background: #000000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 6px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}