.spacer {
    margin-bottom: 21px;
}

.redioWarper {
    display: flex;
    justify-content: space-between;
}

.loginBTN {
    cursor: pointer;
    width: 136px;
    height: 52px;
    right: -30px;
    bottom: -25px;
    background: #000000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 6px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

.textTitle {
    font-family: Alegreya Sans, 'Noto Sans Thai', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.imagePreview {
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    min-height: 121px;
    background: #C4C4C4;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagePreviewRef {
    width: auto;
    height: 121px;
}

.boxBtnUpload {
    display: flex;
}

.uploadBtn {
    min-width: 81px;
    min-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    padding-left: 5px;
    padding-right: 5px;
    background: #C4C4C4;
    color: #000000;
    border-radius: 25px;
    margin-right: 10px;
    cursor: pointer;
}