.form {
    width: 90%;
    margin: auto;
}

.mb10 {
    margin-bottom: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.clipfile {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 5px;
}

.signature {
    width: 120px;
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    mix-blend-mode: normal;
    border-radius: 3px;
    text-align: center;
}

.mb30 {
    margin-bottom: 30px;
}

.lineWarper {
    display: flex;
    align-items: center;
}

.lineWarperRight {
    justify-content: end;
}

.alignBaseline {
    align-items: flex-start;
}

.lineWarperBetween {
    justify-content: space-between;
}

.flexColumn {
    flex-direction: column;
}

.inputWarper {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.radioWarper {
    padding-left: 5px;
    padding-right: 5px;
}

.textFont {
    font-size: 16px;
    font-family: 'Aleo', 'Noto Sans Thai', sans-serif;
}
.imgSignature{
    width: auto;
    height: 60px;
}
p.textFont {
    padding: 0;
    margin: 0;
}

.radioBox {
    height: 16px;
    width: 20px;
    margin-left: 15%;
}

.radioBoxInline {
    height: 16px;
    width: 20px;
}

.vw4 {
    width: calc(4rem / var(--size-divisor));
}

.vw5 {
    width: calc(5rem / var(--size-divisor));
}

.vw6 {
    width: calc(6rem / var(--size-divisor));
}

.vw7 {
    width: calc(7rem / var(--size-divisor));
}

.vw8 {
    width: calc(8rem / var(--size-divisor));
}

.vw9 {
    width: calc(9rem / var(--size-divisor));
}

.vw10 {
    width: calc(10rem / var(--size-divisor));
}

.vw15 {
    width: calc(15rem / var(--size-divisor));
}

.vw18 {
    width: calc(18rem / var(--size-divisor));
}

.vw19 {
    width: calc(19rem / var(--size-divisor));
}

.vw20 {
    width: calc(20rem / var(--size-divisor));
}

.vw25 {
    width: calc(25rem / var(--size-divisor));
}

.vw35 {
    width: calc(35rem / var(--size-divisor));
}

.vw36 {
    width: calc(36rem / var(--size-divisor));
}

.wp30 {
    width: 30%;
}

.wp100 {
    width: 100%;
}

.sendBTNWarper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 138px;
}

.sendBTN {
    width: 68px;
    height: 33px;
    background: #E2D9B6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Alef', 'Aleo', 'Noto Sans Thai', sans-serif;
    ;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #DBAB00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DBAB00;
    cursor: pointer;
}